<div mat-dialog-title class="modal-header position-relative">
  <h1>{{isCreated ? 'New' : 'Edit' }} Article</h1>
  <button mat-icon-button autofocus="false" color="danger" mat-dialog-close class="position-absolute"
    style="top: -2rem; right: -1rem;">
    <mat-icon style="margin-right: 7px;">close</mat-icon>
  </button>
</div>
<div mat-dialog-content class="w-100 row">
  <mat-form-field appearance="legacy" class="col-12">
    <mat-label>Category</mat-label>
    <mat-select required [(ngModel)]="article.category">
      <mat-option value="News">{{ 'News' | translate}}</mat-option>
      <mat-option value="Events">{{ 'Events' | translate}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="legacy" class="col-12">
    <mat-label>Title</mat-label>
    <input matInput required [(ngModel)]="article.title">
  </mat-form-field>

  <mat-form-field appearance="legacy" class="col-12">
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]="article.descriptionHTML" rows="3"></textarea>
  </mat-form-field>

  <!-- <div class="col-12 mt-3">
    <input matInput class="ng-hide" id="input-file-id" multiple type="file" (change)="uploadFiles($event)" />
  </div> -->
</div>
<div mat-dialog-actions style="float: right;">
  <button *ngIf="!isCreated" mat-button autofocus="false" color="danger" mat-dialog-close>Cancel</button>
  <button mat-button autofocus="false" color="success" (click)="onSave()">Save</button>
</div>
