@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "./assets/font/UTM-Avo-font/style.css";
@import "./assets/sass/app.scss";
@import "./assets/css/main.css";

a {
  color: #000 !important;
  cursor: pointer;
}

a:hover,
a:focus {
  color: black;
}

ol,
ul {
  padding: 0px !important;
}

.w-100 {
  width: 100%;
}

.mr-2 {
  margin-right: 0.5rem !important;
}

.mr-3 {
  margin-right: 15rem !important;
}

.ml-2 {
  margin-left: 0.5rem !important;
}

.ml-3 {
  margin-left: 15rem !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.pi-10px {
  padding-inline: 10px !important;
}


.f-600 {
  font-weight: 600 !important;
}

mat-icon {
  padding-inline: 5px !important;
}
