@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "./assets/font/UTM-Avo-font/style.css";
@import "./assets/sass/app.scss";
@import "./assets/css/main.css";

a {
  color: #000 !important;
  cursor: pointer;
}

a:hover,
a:focus {
  color: black;
}

ol,
ul {
  padding: 0px !important;
}
