@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "./assets/font/UTM-Avo-font/style.css";
@import "./assets/sass/app.scss";
@import "./assets/css/main.css";

a {
  color: #000 !important;
  cursor: pointer;
}

a:hover,
a:focus {
  color: black;
}

ol,
ul {
  padding: 0px !important;
}

.pi-10px {
  padding-inline: 10px !important;
}


.f-600 {
  font-weight: 600 !important;
}

mat-icon {
  padding-inline: 5px !important;
}

mat-icon.close-icon {
  color: #FF4961 !important;
}

mat-icon.language-icon {
  color: #666EE8 !important
}
