<main id="contact" class="js contact fp-custom-scrollbar theme-white no-touchevents" data-pageclassname="contact"
  data-pagetheme="theme-white">

  <app-header></app-header>

  <div id="container-fluid">
    <div class="page">
      <div class="component fp-contact" data-component-name="contact">
        <div class="fp-contact-list">
        </div>

        <div class="fp-contact-grid fp-universal-grid">
          <ul class="fp-cg--ul fp-grid">
            <li class="fp-cg--item fp-grid__item contact__pic">
              <div class="fp-cg--inner">
                <div class="fp-cg--img no-zoom">
                  <div class="fp-dominant-colour" style="background-color: #6C7578"></div>
                  <div class="fp-content">
                    <img class="fp-lazy-load-image fp-content__img "
                      src="../../../assets/img/projects/ArchAndFurn/Interior/OfficeDesign/View03.jpg" alt="Office">
                  </div>
                </div>
              </div>
            </li>

            <li class="fp-cg--item fp-cg--quote fp-grid__item no-zoom">
              <div class="fp-cs--inner ">
                <div class="fp-cg--content">
                  <div class="fp-dominant-colour map-bg"></div>
                  <div class="fp-cg--copy" style="position: relative;">
                    <div class="fp-cg--title">
                      {{'Contact' | translate}}
                    </div>

                    <div class="fp-cg-veritcal-align">
                      <h3 class="fp-section-title">S Achitects</h3>
                      <p><strong>{{ 'Address' | translate}}:</strong> {{'AddressCompany' | translate}}</p>
                      <a class="fp-contact-tel"><strong>Hotline:</strong> +84 357775059</a>
                      <a class="fp-contact-tel"><strong>Fax:</strong> ({{'updating' | translate}})</a>
                      <a class="fp-contact-tel"><strong>Email:</strong> sa@sarchitectss.com</a>
                      <a class="fp-contact-tel"><strong>Website:</strong> www.sarchitectss.com</a>
                    </div>

                    <div class="fp-cg-cta-wrapper ">
                      <a id="viewMap"
                        href="https://www.google.com/maps/search/02+Bis+Nguy%E1%BB%85n+Th%E1%BB%8B+Minh+Khai,+Ph%C6%B0%E1%BB%9Dng+%C4%90a+Kao,+Qu%E1%BA%ADn+1,+Th%C3%A0nh+ph%E1%BB%91+H%E1%BB%93+Ch%C3%AD+Minh/@10.7869084,106.6874296,15z/data=!3m1!4b1"
                        target="_blank" class="fp-button-primary fp-cg--cta ">{{'View Map' | translate}}</a>
                    </div>
                  </div>
                </div>
              </div>
            </li>

          </ul>
        </div>
      </div>

      <app-footer></app-footer>
    </div>
  </div>

</main>
