<main id="news" class="js news fp-custom-scrollbar theme-white no-touchevents" data-pageclassname="news"
  data-pagetheme="theme-white">

  <app-header></app-header>

  <div id="container-fluid">
    <div class="page">
      <div class="fp-news">
        <!-- CategoryName -->
        <div class="component fp-section-tab" data-component-name="section-tab" data-content-reference="news"
          data-is-search-bar="false" data-is-sticky="true" style="opacity: 1;">
          <div class="fp-st-wrap">
            <ul class="fp-st-list">
              <li class="fp-st-list-item" *ngFor="let c of categories">
                <a class="fp-st-link" (click)="getArticlesByCategoryName(c.title)"
                  [ngClass]="{'active': c.title == 'News' }" data-toggle="tab" role="tab"
                  id="{{c.title}}">{{c.title | translate}}</a>
              </li>
            </ul>
            <div class="fp-st-indicator">
              <span class="fp-st-pointer"></span>
            </div>
          </div>
        </div>
        <div class="component set-row-width text-right" *ngIf="!appComponent.isGuest">
          <button mat-stroked-button color="dark" (click)="addArticle()">
            <mat-icon color="dark">add</mat-icon> Article
          </button>
        </div>

        <!-- Articles -->
        <div class="fp-section-slide component" data-component-name="section-slide" data-history-managed="true"
          data-content-reference="news" data-page-scrollable="true" data-swipe-behaviour="true" style="min-height: 600px;">
          <div class="fp-section-loader"></div>
          <div class="fp-section-slide-wrap">
            <div class="tab-pane fade show active" id="tabDetails">
              <div>
                <div class="fadeIn first">
                  <div class="fp-section-slide-item fb-events" data-tab="events">
                    <section class="component fp-events-grid" data-component-name="events-grid" data-endpoint="#"
                      data-results-total="4" data-page-size="5">
                      <div class="fp-ng-wrap">
                        <div class="component fp-universal-grid">
                          <ul class="fp-events-grid-width fp-grid">
                            <li *ngFor="let item of news"
                              class="fp-events-grid-item no-zoom fp-grid__item fp-grid-item__single border-bottom">
                              <section>
                                <a class="fp-events-item click-trigger">
                                  <div class="fp-events-item__content">
                                    <span class="fp-events-item__subtitle">
                                      2019, HCMC
                                    </span>
                                    <h3 class="fp-events-item__title">{{ item.title | translate}}</h3>
                                    <br><br>
                                  </div>
                                  <div class="fp-ng-content-copy">
                                    <button mat-icon-button color="medium" [matMenuTriggerFor]="actions">
                                      <mat-icon color="gray">more_vert</mat-icon>
                                    </button>

                                    <mat-menu #actions="matMenu">
                                      <button mat-menu-item (click)="viewArticle(item)">
                                        <mat-icon color="gray">description</mat-icon> {{ 'View' | translate }}
                                      </button>
                                      <ng-container *ngIf="!appComponent.isGuest">
                                        <button mat-menu-item (click)="update(item)">
                                          <mat-icon color="gray">drive_file_rename_outline</mat-icon> {{ 'Edit' | translate }}
                                        </button>
                                        <button mat-menu-item (click)="delete(item)">
                                          <mat-icon color="gray">delete</mat-icon> {{ 'Delete' | translate }}
                                        </button>
                                      </ng-container>
                                    </mat-menu>
                                  </div>
                                </a>
                              </section>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <app-footer></app-footer>
    </div>
  </div>
</main>
