#dropdownTypes.dropdown-toggle::after {
  display: none;
}

/* TABS */

a.inactive {
  color: #000;
  opacity: 0.7 !important;

  &:hover {
    opacity: 1 !important;
  }
}

a.active {
  color: #000;
  font-weight: 600 !important;
  opacity: 1 !important
}
